* {
    margin:0px;
    box-sizing: border-box;
}

header ul{
    list-style: none;
    padding-left: 0px;
    background-color: rgb(118, 74, 43);
    text-align: center;

}
header ul li{
    display: inline-block;
}
header ul li a{
    text-decoration: none;
    color: rgb(118, 74, 43);
    padding: 15px;
    display: inline-block;
    background-color: rgb(193, 151, 126);
}

header ul li a:hover{
    color: rgb(193, 151, 126);
    background-color: rgb(118, 74, 43);
}