@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Staatliches&display=swap');

* {
    margin:0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.container{
    width: 100%;
    margin: auto;
}

header ul{
    list-style: none;
    padding-left: 0px;
    text-align: center;
}

header ul li{
    display: block;
}

header ul li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: inline-block;
    width: 100%;
    background-color: #9e0407;
}

header ul li a:hover{
    color: #ffe36d;
    background-color: #9e0407c9;

}
.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffe36d;
    text-align: center;
}
.menu img {
    width: 100px;
    padding: 10px;
}
.menu nav img{
    display: none;
}

.topo{
    padding: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../img/familia.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: white;
    text-align: center;
}
.topo p{
    padding: 50px 0px 0px 0px;
}
.topo a{
    display: inline-block;
    text-decoration: none;
    background-color: #9e0407;
    margin-top: 50px;
    padding: 15px 50px;
    color: white;
    border-radius: 50px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
}
.topo a:hover{
    background-color: #ffe36d;
    color:#9e0407;
}
.topo h1{
    font-family: 'Staatliches', cursive;
    font-weight: bold;
}

section{
    padding: 50px 0px;
}
footer{
    padding: 50px 0;
}
.abordagem h1{
    text-align: center;
}

.cartoes{
    display: flex;
    flex-direction: column;
}
.cartao {
    width: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 30px 0px;
}
.cartoes img{
    width: 125px;
    background-color: #ffe36d;
    border-radius: 100%;
    border: 5px solid #9e0407;
}
.cartoes p{
    padding:0px 20px;
}

footer{
    color: white;
    background-color: black;
}

.fot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-contato {
    padding: 50px;
    width: 100%;
}
.form-contato input{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.form-contato button{
    width: 100%;
    background-color: #ffe36d;
    color: #9e0407;
}

.midias {
    width: 100%;
}
.midias img{
    width: 50px;
    margin: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.info p {
    padding: 30px;
    width: 100%;
}
.info img{
    width: 300px;
}

.videos {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
}
.videos > div {
    padding: 50px;
}
.videos > div:nth-child(1){
    width: 100%;
}
.videos a{
    text-decoration: none;
    background-color: red;
    padding: 10px 50px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
}

@media screen and (min-width: 600px){
    .videos {
        flex-direction: row;
    }
    .info p {
        padding: 20px;
        width: 500px;
    }    
    header ul li{
        display: inline-block;
    }
    
    nav {
        width: 460px;
    }
    .menu{
        padding: 0px 10px;
        flex-direction: row;
        position:fixed;
        top: 0px;
    }
    .menu img{
        width: 150px;
    }
    .menu nav a{
        height: 100%;
        padding-top: 34px;
    }
    .menu nav img,
    .menu nav p{
        display: block;
        width: 80px;
    }
    .topo{
        margin-top: 150px;
        background-size: auto;
        font-size: large;
        padding: 250px 0px;
    }
    .cartoes {
        flex-direction: row;        
    }
    .cartao {
        display: flex;
        align-items: center;
        text-align: justify;
    }
    .fot{
        flex-direction: row;
    }
    .info{
        flex-direction: row;
    }

    .reverse{
        flex-direction: row-reverse;
    }
    
}
section h2{
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}

@media screen and (min-width: 1400px){
    .menu{
        padding: 0px 150px;
    }
    .container {
        width: 1200px;
        margin: auto;
    }
    .topo{
        background-size: 100%;
    }
    .topo > div {
        padding: 10px 200px;
    }
   
}